@import './base.css';

body {
  overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-main);
  border: 3px solid var(--color-background);
  border-radius: 10px;
}

.page-enter-active {
  transition: all 0.5s ease;
  overflow: hidden;
}
.page-leave-active {
  transition: all 0.5s ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

#app {
  font-weight: normal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#app .content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#app main {
  flex-grow: 1;
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

a,
.green {
  text-decoration: none;
  color: var(--color-main);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 4rem;
  text-transform: uppercase;
}

.title2 {
  font-size: 18px;
  color: var(--color-main);
  font-weight: bold;
}
.title3 {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-text-3);
}

.text2 {
  color: var(--color-text-2);
}
